body{
    background-color: white;
    font-family: 'Open Sans', Tahoma, Verdana, sans-serif;
    text-align: center;
    
}


h1{
    font-family: 'Open Sans', Tahoma, Verdana, sans-serif;
    color: black;
    text-align: center;
   
   
}
h2{ 
    font-family: 'Open Sans', Tahoma, Verdana, sans-serif;
    color: black;
    text-align: center;
    font-size: small;
    
}
h3{ 
    font-family: 'Open Sans', Tahoma, Verdana, sans-serif;
    color: red;
    text-align: center;
    font-size: medium;
    border: 2px;
    border-color: black;

}

h4{ 
    font-family: 'Open Sans', Tahoma, Verdana, sans-serif;
    background-color: white;
    border: 4px;
    border-color: black;
    font-size: x-small;
   
    

}

h5{
    font-family: 'Open Sans', Tahoma, Verdana, sans-serif;
    text-align: center;
    font-size: medium;
    border: 4px;
    border-color: black;
}
nav li{
    display: inline-block;
    text-decoration-style: solid;
    border-color: black;
    background-color: white;
    
    

}
nav a{
    color: white;
    text-decoration: none;
    padding: 5x;
    border-color: black ;
    border: 4px;
    
   
}
nav a:hover, .active {
    text-decoration: underline;
    background-color: green;
    color: white;
}
nav ul{
    padding: 1px;
    border: 4px;
    text-size-adjust: small;
   
    

}
.active{
    background-color: #94ACBC;
    color: black;
   
}
footer{
    text-align: center;
    text-size-adjust: small;
    padding: 2px;
}
.border{
    background-color: #94ACBC;
    border: 2px;
    border-color: black;
    text-decoration-thickness: small;
    align-content: center;
    
    
}