body{
    background-color: lightblue;
    font-family: 'Open Sans', Tahoma, Verdana, sans-serif;
    text-align: center;
    
}
image{
    width: auto;
}
h1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: black;
    text-align: center;
}
nav li{
    display: inline-block;

}
nav a{
    color: black;
    text-decoration: none;
    padding: 20px;
   
}
nav a:hover{
    text-decoration: underline;
}
nav ul{
    padding: 10px;

}
.active{
    background-color: beige;
    color: blueviolet;
}
footer{
    text-align: center;
}
