body{
    background-color: white;
    font-family: 'Open Sans', Tahoma, Verdana, sans-serif;
    text-align: center;
    
}

.flexbox-container  {
    display: flex;

}  
.flexbox-item{
    width: 200px;
    margin: 10px;
    border: 3px solid #707070;
    background-color: antiquewhite;

}    
.flexbox-item-1{
    min-height: 100px;
}    
.flexbox-item-2{
    min-height: 200px;
}   
.flexbox-item-3{
    min-height: 300px;
}    

h1{
    font-family: 'Open Sans', Tahoma, Verdana, sans-serif;
    color: black;
    text-align: center;
   
   
}
h2{ 
    font-family: 'Open Sans', Tahoma, Verdana, sans-serif;
    color: black;
    text-align: center;
    font-size: small;
    
}
h3{ 
    font-family: 'Open Sans', Tahoma, Verdana, sans-serif;
    color: red;
    text-align: center;
    font-size: medium;
    border: 2px;
    border-color: black;

}

h4{ 
    font-family: 'Open Sans', Tahoma, Verdana, sans-serif;
    background-color: white;
    border: 4px;
    border-color: black;
    font-size: x-small;
   
    

}

h5{
    font-family: 'Open Sans', Tahoma, Verdana, sans-serif;
    text-align: center;
    font-size: medium;
    border: 4px;
    border-color: black;
}
nav li{
    display: inline-block;
    text-decoration-style: solid;
    border-color: #707070;
    border: 4px;
    background-color: #94ACBC;
    

}
nav a{
    color: black;
    text-decoration: none;
    padding: 20px;
    border-color: #707070;
    border: 4px;
    
   
}
nav a:hover{
    text-decoration: underline;
}
nav ul{
    padding: 10px;
    border: 4px;

}
.active{
    background-color: #94ACBC;
    color: black;
    
}
footer{
    text-align: center;
    padding: 10px;
}
.border{
    background-color: #94ACBC;
    border: 4px;
    color: black;
    text-decoration-thickness: bold;
    width: 100%;
    align-content: center;
    
    
}