body{
    background-color: white;
    font-family: 'Open Sans', Tahoma, Verdana, sans-serif;
    text-align: center;
    
}


h1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: black;
    text-align: center;
}
nav li{
    display: inline-block;
    border: 2px;
    color: black;
    

}
nav a{
    color: black;
    text-decoration: none;
    padding: 20px;
    border: 2px;
    color: black;
    
   
}
nav a:hover{
    text-decoration: underline;
}
nav ul{
    padding: 10px;
    border: 2px;
    color: black;

}
.active{
    background-color: lightblue;
    color: black;
    border: 2px;
    color: black;
}
footer{
    text-align: center;
    padding: 10px;
}
.border{
    background-color: lightblue;
    color: black;
    text-decoration-thickness: bold;
    width: 100%%;
    align-content: center;
    border: 2px;
    color: black;
    
}