body{
    background-color: white;
    font-family: 'Open Sans', Tahoma, Verdana, sans-serif;
    text-align: center;
    
}


h1{
    font-family: 'Open Sans', Tahoma, Verdana, sans-serif;
    color: black;
    text-align: center;
   
   
}
h2{ 
    font-family: 'Open Sans', Tahoma, Verdana, sans-serif;
    color: black;
    text-align: center;
    font-size: small;
    
}
h3{ 
    font-family: 'Open Sans', Tahoma, Verdana, sans-serif;
    color: red;
    text-align: center;
    font-size: medium;
    border: 2px;
    border-color: black;

}

h4{ 
    font-family: 'Open Sans', Tahoma, Verdana, sans-serif;
    background-color: white;
    border: 4px;
    border-color: black;
    font-size: x-small;
   
    

}

h5{
    font-family: 'Open Sans', Tahoma, Verdana, sans-serif;
    text-align: center;
    font-size: medium;
    border: 4px;
    border-color: black;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
    border-right:1px solid #bbb;
  }
  
  li:last-child {
    border-right: none;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover:not(.active) {
    background-color: #111;
  }
  
  .active {
    background-color: #04AA6D;
  }

}
footer{
    text-align: center;
    text-size-adjust: small;
    padding: 2px;
}
.border{
    background-color: #94ACBC;
    border: 2px;
    border-color: black;
    text-decoration-thickness: small;
    align-content: center;
    
    
}