body{
    background-color: white;
    font-family: 'Open Sans', Tahoma, Verdana, sans-serif;
    text-align: center;
    
}



h1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: black;
    text-align: center;
  
  
    
}
h2{ 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: black;
    text-align: center;
    font-size: small;
    
}
h3{ 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: red;
    text-align: center;
    font-size: bold;

}

h4{ 
    background-color: bisque;
    border: 2px;
    padding: 10px;
    border-color: black;
    height: 50px;

}
nav li{
    display: inline-block;
    text-decoration-style: solid;
    border-color: #707070;
    border: 4px;
    

}
nav a{
    color: black;
    text-decoration: none;
    padding: 20px;
    border-color: #707070;
    border: 4px;
    
   
}
nav a:hover{
    text-decoration: underline;
}
nav ul{
    padding: 10px;
    border: 4px;

}
.active{
    background-color: #94ACBC;
    color: black;
    
}
footer{
    text-align: center;
    padding: 10px;
}
.border{
    background-color: #94ACBC;
    color: black;
    text-decoration-thickness: bold;
    width: 100%;
    align-content: center;
    
    
}