body{
    background-color: white;
    font-family: 'Open Sans', Tahoma, Verdana, sans-serif;
    text-align: center;
    
      }

      .header {
        background-color: #f1f1f1;
        padding: 2px;
        text-align: center;
        border: 2px;
        border-color: black;
      }
      .flex-container {
        display: flex;
        background-color: black;
      }
      
      .flex-container > div {
        background-color: #f1f1f1;
        margin: 5px;
        padding: 5px;
        font-size: 5px;
      }

h1{
    font-family: 'Open Sans', Arial, Helvetica, sans-serif, Verdana;
    color: black;
    text-align: center;
   
   
}
h2{ 
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    color: black;
    text-align: center;
    font-size: small;
    
}
h3{ 
    font-family: 'Open Sans', Arial, Helvetica, sans-serif, Verdana;
    color: red;
    text-align: center;
    font-size: medium;
    border: 2px;
    border-color: black;

}

h4{ 
    font-family: 'Open Sans', Arial, Helvetica, sans-serif, Verdana;
    background-color: white;
    border: 4px;
    border-color: black;
    font-size: x-small;
    background-color: #f1f1f1;
    

}

h5{
    font-family: 'Open Sans', Arial, Helvetica, sans-serif, Verdana;
    text-align: center;
    font-size: smaller;
    border: 4px;
    border-color: black;
    background-color: #f1f1f1;
}
nav li{
    display: inline-block;
    text-decoration-style: solid;
    border-color: black;
    background-color: white;
    
    

}
a:link, a:visited {
    background-color: white;
    color: black;
    border: 1px solid black;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }
  
  a:hover, a:active {
    
    color: grey;
    text-decoration: underline;
  }

nav ul{
    padding: 1px;
    border: 0px;
    text-size-adjust: x-small;
   
    

}

footer{
    text-align: center;
    text-size-adjust: x-small;
    padding: 2px;
}
.border{
    background-color: #94ACBC;
    border: 2px;
    border-color: black;
    text-decoration-thickness: small;
    align-content: center;
    
    
}
* {
    box-sizing: border-box;
  }
  
  input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
  }
  
  label {
    padding: 12px 12px 12px 0;
    display: inline-block;
  }
  
  input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
  }
  
  input[type=submit]:hover {
    background-color: #45a049;
  }
  
  .container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  }
  
  .col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
  }
  
  .col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .col-25, .col-75, input[type=submit] {
      width: 100%;
      margin-top: 0;
    }
    input[type=text] {
        width: 100%;
        box-sizing: border-box;
        border: 2px solid #ccc;
        border-radius: 4px;
        font-size: 16px;
        background-color: white;
        background-image: url('searchicon.png');
        background-position: 10px 10px; 
        background-repeat: no-repeat;
        padding: 12px 20px 12px 40px;
      }