body{
    background-color: lightblue;
    font-family: 'Open Sans', Tahoma, Verdana, sans-serif;
}
h1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: black;
}
nav li{
    display: inline-block;
}
nav a{
    color: black;
    text-decoration: none;
    padding: 20px;
}